<h3> Hello, my name is: <%= @my_name %></h3>
<br />
<strong>Here are some things I'd like to do in 2014:</strong>
<br />
<% @my_things.each do |thing| %>
	<ul>
	</li><%= thing %></li>
</ul>
<% end %>
<br />